$mainFont: Noto Sans Kr, sasn-serif;
$logoFont: Alfa Slab One, cursive;
$typoFont: Bagel Fat One, cursive;

$bigFont: 3.5vw;
$mediumFont: 1.1rem;
$smallFont: 0.9rem;

$darkBlue: #2b45d9;
$warmBlue: #4158d9;
$purple: #6c7dd9;
$lightPurple: #a7b2f2;
$black: #444;
$grey: #ddd;

$basicPadding: 0.5rem;
$basicMargin: 0.5rem;
$horizontalMargin: 0 0.5rem;
$verticalMargin: 0.5rem 0;
